<body>
	<div class="title">
		<h1>View Your Character</h1>

	<h1>Player ID: <input type="text" name="PCid"></h1>
</div>

	<div class="directory">
		<button type="button"><a href="/">View</a></button>
	</div>
	<div class="button">
		<button type="button"><a href="/">Home</a></button>
	</div>
</body>
