<body>
	<div class="title">
		<h1>Create a Character!</h1>

	</div>
	<ul class="items">
		<h2>Player Name: <input type="text" name="pName"></h2>
		<h2>Character Name: <input type="text" name="cName"></h2>
		<h2>Armor Class: <input type="text" name="armor"></h2>
		<h2>Strength: <input type="text" name="strength"></h2>
		<h2>Dexterity: <input type="text" name="dex"></h2>
		<h2>Wisdom: <input type="text" name="wisdom"></h2>
		<h2>Intelligence: <input type="text" name="intell"></h2>
		<h2>Constitution: <input type="text" name="const"></h2>
		<h2>Charisma: <input type="text" name="charisma"></h2>
		<h2>Max HP: <input type="text" name="maxhp"></h2>
		<h2>Class:
			<select>
				<option type="Barbarian">Barbarian</option>
				<option type="Bard">Bard</option>
				<option type="Cleric">Cleric</option>
				<option type="Druid">Druid</option>
				<option type="Fighter">Fighter</option>
				<option type="Monk">Monk</option>
				<option type="Paladin">Paladin</option>
				<option type="Ranger">Ranger</option>
				<option type="Rogue">Rogue</option>
				<option type="Sorcerer">Sorcerer</option>
				<option type="Warlock">Warlock</option>
				<option type="Wizard">Wizard</option>
			</select>
		</h2>
		<h2>Race:
			<select>
				{{#each results }}
					<option type="{{Race_name}}">{{Race_name}}</option>
				{{/each}}
			</select>
		</h2>

		<div class="create">
			<button type="button">Create</button>
		</div>
	</ul>


	<div class="button">
		<button type="button"><a href="/">Home</a></button>
	</div>
</body>
