<body>
	<div class="title">
		<h1>Character List</h1>

	</div>
	<div class="directory">
		<h2>Testing</h2>
	</div>

	<div class="button">
		<button type="button"><a href="/">Home</a></button>
	</div>
</body>
