<body>
	<div class="title">
		<h1>Welcome to Dungeons and Databases! </h1>

	</div>
	<div class="directory">
		<h2><a href="char_create">Character Creator</a></h2>
		<h2><a href="char_view">View a Character</a></h2>
		<h2><a href="spells">Search for Spells...</a></h2>
		<h2><a href="monster">View Monsters</a></h2>
	</div>
</body>
