<body>
	<div class="title">
		<h1>Welcome to Dungeons and Databases! </h1>

	</div>
	<div class="directory">
		<h2>Character Creator</h2>
		<h2>View a Character</h2>
		<h2>Search for Spells...</h2>
		<h2>View Monsters</h2>
	</div>
</body>