html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;

  text-align: center;

  background-color: #8a0303;

  font-family: "papyrus";
  color: gold;
}

.directory{
	font-family: "helvetica";
}

.button{
    position: fixed;
    right: 30px;
    bottom: 30px;
    border: none;
    border-radius: 30px;
}

a:link{
    color: gold;
    text-decoration: none;
}

a:visited{
    color: gold;
    text-decoration: none;
}

a:hover {
    color: gold;
    text-decoration: none;
}

a:active{
    color: gold;
    text-decoration: none;
}


.items{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-size: 10px;
}

.create{
    position: fixed;
    right: -5%;
    bottom: -5%;
    border: none;
    border-radius: 30px;
}
