<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Dungeons and Databases</title>

	<link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="/style.css" media="screen">

<!--     <script src="public.js"></script> -->

</head>

<body>

    {{{body}}}

</body>

</html>