<!DOCTYPE html>
<html>

<head>

	<img id="banner" src="https://media.dnd.wizards.com/styles/news_banner_header/public/default_images/_Header_Article_Template.jpg">

    <meta charset="utf-8">
    <title>Dungeons and Databases</title>

    <link rel="stylesheet" href="/style.css" media="screen">

<!--     <script src="public.js"></script> -->

</head>

<body>

    {{{body}}}

    <div class="button">
		<button id="hbutton"><a href="/">Home</a></button>
	</div>

</body>

</html>
